@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.basic-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  flex-direction: column;
}

.table-style{
  width: 80%;
}

.table-style th{
  text-align: center;
}
.table-style td{
  text-align: center;
}

.table-button{
  background-color: aquamarine;
}
.table-button:hover{
  background-color: rgb(15, 154, 107);
}

.editModal{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(111, 223, 238);
  border: 2px solid black;
  gap: 1rem;
  padding: 1rem;
  border-radius: 4px;
}
.editModalComps{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

}

.editModal input{
  border: 2px solid #0a0a0a;
  border-radius: 8px;
}

.editModalButton{
  border: 2px solid #0a0a0a;
  border-radius: 8px;
  width: 5rem;
  background-color: blueviolet;
}

.editModalButton:hover{
  background-color: rgb(185, 132, 234);
}

.closeBtn{    
  position: absolute;   /* REQUIRED */
  top: 8px;
  right: 8px;
  
}


.sideNav{
  position: fixed;
  width: 160px;
  background-color: rgb(5, 12, 57);
  top: 56px; 
  left: 0;
  height: calc(100vh - 60px);
  padding-top: 20px;
}

.sideNavComps{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: aliceblue;
}


